h1, h2 { text-align: center }

h1 { color: var(--accent-body-foreground); }

h2 { color: var(--body-foreground) }

* {
    animation: 0.5s linear 0s forwards reduce_text;
}

@keyframes reduce_text {
    from {
        font-size: 200%;
    }

    to {
        font-size: 150%;
    }
}