@inject NavigationManager _navigation

<div>
    <a href="https://github.com/egorozh" target="_blank"
       title="Ссылка на профиль GitHub">
        <img src="img/Octocat.png"
             class="@_imgClass">

    </a>
</div>

@code {

    private string _imgClass = "h";
    
    protected override void OnInitialized()
    {
        _navigation.LocationChanged += (_, _) =>
        {
            _imgClass = _navigation.Uri != _navigation.BaseUri ? "home-github" : "";
            base.StateHasChanged();
        };


        base.OnInitialized();
    }


}