@font-face {
    font-family: 'Press Start 2P';
    src: url('../../fonts/PressStart2P-Regular.woff2') format('woff2'), url('../../fonts/PressStart2P-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DotGothic16';
    src: url('../../fonts/DotGothic16-Regular.woff2') format('woff2'), url('../../fonts/DotGothic16-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}