@inherits LayoutComponentBase

@inject NavigationManager _navigation

<main id="main">
    <div id="about">
        <AboutLink/>
    </div>

    <div id="projects">
        <ProjectsLink/>
    </div>

    <div id="contacts">
        <ContactsLink/>
    </div>

    <div id="hobby">
        <HobbyLink/>
    </div>

    <div id="youtube">
        <YoutubeLink/>
    </div>

    <div id="github">
        <GithubLink/>
    </div>

    <div id="body">
        @Body
    </div>
</main>