@inherits LayoutComponentBase

@inject NavigationManager _navigation

<main>
    <div id="about">
        <AboutLink/>
    </div>

    <div id="projects">
        <ProjectsLink/>
    </div>

    <GridChild Row="3"
               Column="2"
               id="contacts">
        <ContactsLink/>
    </GridChild>

    <div id="hobby">
        <HobbyLink/>
    </div>

    <div id="youtube">
        <YoutubeLink/>
    </div>

    <GridChild Row="3"
               Column="1"
               id="github">
        <GithubLink/>
    </GridChild>

    <GridChild Row="2"
               Column="2"
               id="body">
        <Grid RowDefinitions="* auto *"
              ColumnDefinitions="* auto *">
            <GridChild Row="2"
                       Column="2">
                @Body
            </GridChild>
        </Grid>
    </GridChild>
</main>