main {
    display: grid;
    height: 100vh;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: auto 1fr auto;
    grid-gap: 14px;
}

@media screen and (max-width: 960px) {
    main {
        display: grid;
        height: 100vh;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-gap: 14px;
    }

    main > #body { display: none; }
}